.title{
  text-align: center;
  color: #244b4d;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 70px 0 30px ;

}
.title h2{
  font-size: 35px;
  color: #06484d;
  margin-top: 6px;
  text-transform: none;
}