.campus{
  margin: 80px auto;
  width: 100%;
  text-align: center;
}
.gallery{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  

}
.gallery img{
  width: 24%;
  border-radius: 10px;
  box-shadow: 0 7px 10px rgba(7, 7, 8, 0.8);
  transition: transform 0.7s ease;
  
}
.gallery img:hover{
  transform: translateY(-10px) scale(0.9);
  
}

/*************************************/

@media (max-width: 800px){
  .gallery{
    flex-wrap: wrap
  }
  .gallery img{
    width: 48%;
    margin-bottom: 25px;
  }
}